@using TaskManager.BLL.DTOs
@using TaskManager.BLL.Enums
@model CreateTaskDto

@{
    ViewData["Title"] = "Create Task";
}

<div class="text-center">
    <h1 class="display-4">Create Task</h1>
</div>

<hr />

<form asp-action="Create" method="post">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>

        <input asp-for="Title" class="form-control" />

        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>

        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="form-label"></label>

        <select asp-for="Status" asp-items="Html.GetEnumSelectList<TaskStatusEnum>()" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Priority" class="form-label"></label>

        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<PriorityLevelEnum>()" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label"></label>

        <input asp-for="DueDate" type="datetime-local" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="UserId" class="form-label"></label>

        <input asp-for="UserId" class="form-control" />

        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>

    <a asp-action="Index" class="btn btn-secondary">Back</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
